@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Kaushan+Script&family=Koulen&display=swap');



*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-family: 'Gelasio', serif;
  list-style: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

a {
  color: inherit;
}

p{
  padding: 10px;
}

button{
  margin: 20px;
  padding: 5px;
}

header{
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: space-around;
}

header, footer{
  background-color:rgb(5, 5, 8);
  color: white;
}

#homepage{
  background-color: rgb(20, 33, 70);
}

h1{
  font-family: 'Kaushan Script', cursive;
}

h2{
  padding: 20px 20px 0px 20px;
}

h3, #dayofweeknextday{
  font-family: 'Koulen', cursive;
  font-size: 2em;
}

.temp{
  font-size: 1.75em;
  font-weight: bolder;
}

#weather{
  margin: 15px 0;

}

.weather{
  border: solid goldenrod;
  margin: 0px 15px;
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 5px;

}

.footer-right-column{
  display: inline;
}

#credit, #copyright{
  font-size: x-small;
}
/* footer .fa{
  f
} */

/* .navBarSmallView{
  display: flex;
  align-items: center;
  justify-content: space-around;
} */


.logo{
  width: 5em;
  padding: 10px;
}

.smIcons{
  display: flex;
  justify-content: flex-end;

}

.smIcons i{
font-size: 3em;
align-self: center;
margin: 5px;
}

.hamburger :nth-child(2){
  display: none;
}

.hamburger :nth-child(2){
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em; 
}

.active :first-child{
  display: none;
}

.active :nth-child(2){
  display: block;
}

/* affects the nav links when responsive class is applied */
.navigation{
  display: none;
}

.responsive{
  display: grid;
}

nav{
  grid-column: 1/-1;
}

/*changes only page that it's on*/
nav li .active{
  color: goldenrod;
}

nav li{
  padding: 50px;
}

nav li:hover{
  background-color: rgb(204, 208, 211);
  border-style: solid;
  color: black;
  }

.blueSection{
  background-color:rgb(20, 33, 70);
  color: white;
}

.goldSection{
  background-color: goldenrod;
}

.whiteSection{
  background-color: white;
}

.graySection{
  background-color: #555;
}

#homepageTemple p{
  text-align: center;
  padding: 0 40px 40px 40px;
}

/* #homepageTemple{
  /* display: inline; */
  /* display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center; */

#homepageTemple h3{
  grid-column: 1/-1;
  padding: 10px;
}

#homepageTemple img{
  width: 80%;
  padding: 20px;
}


.graySection{
  background-color: #777;
}

footer{
  display: flex;
  align-items: center;
}


/* //stay page below */

.yourInfo{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#headerstayform, #contactusheader, #services{
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
}

label {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

fieldset{
  margin: 30px 30px 0 30px;
}

input[type=submit] {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  background-color: goldenrod;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #45a049;
  
}

/* div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

/* services.html below */
#servicespage{
  background-color: #777;
  border: none;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin: 0;
  
}

.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  position: relative;
}



.content img{
  max-width: 100%;
  /* float: left; */
  margin: 20px 0;
}

.content p{
  text-align: center;

}

#questionscontactus{
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#services{

  border: solid  3px black;

  padding: 10px;
  margin: 5px 5px 0 5px;
}

/* temple grid page below */
#templeGrid img{
  max-width: 100%;
}

#templeGrid h3{
  font-size: 1.5em;
}

#templeGrid div{
  border: solid 3px black;
  background-color:rgb(20, 33, 70);
  color: white;
  padding: 30px;
  margin: 20px;
}

#templepage{
  background-color: goldenrod;
}

/* reciept booked room below */
#bookedroomHomepage{
  background-color: goldenrod;
  text-align: center;
}

.bookedroomHomepage header{
  display: block;
}