@media only screen and (min-width: 1009px){
  /* .navBarSmallView{
    display: flex;
    align-items: center;
    justify-content: space-around;
  } */
  
  /* .navBarLargeView{
    display: flex;
  } */

  .hamburger{
    display: none;
  }

  header{
    display: flex;
  }

  .navigation{
    display: flex;
  }

  /* .logo{
    order: 1;
  } */

  /* h1{
    order: 2;
  } */

  /* .navigation{
    order: 3;
  } */

  nav li{
    padding: 0px 30px;
    
  }

  .smIcons{
    order: 4;
  }

  #homepageTemple{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/logantemple.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    object-fit: cover;
    height: 800px;
  }

  #homepageTemple img{
    display: none;
  }
  
  #homepageTemple p{
    background-color:rgb(240, 248, 255);
    padding: 20px;
  }  
}